body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: 'myInter', Arial, Helvetica, sans-serif;
}

.App {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card * {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
}

.joke {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34394f;
  margin-top: 24px;
  margin-bottom: 32px;
}

input {
  outline: none;
}

img {
  width: 100%;
  max-width: 439px;
}

button {
  cursor: pointer;
}
