.customized__select--container {
  position: relative;
  height: 58px;
}

.custom__select {
  position: absolute;
  z-index: 2;
  border: solid 2px #34394f;
}

.customized__select--option,
.custom__select .option__button {
  color: #34394f;
}

.category__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.custom__select,
.custom__select .option__button,
.trigger__open--text {
  border-radius: 6px;
}

.custom__select,
.customized__select--container,
.customized__select--container .option__button,
.trigger__open--text {
  background-color: #ffffff;
  width: 100%;
}

.custom__select,
.custom__select .custom__select--trigger,
.customized__select--container .option__button {
  padding-left: 8px;
  padding-right: 8px;
}

.customized__select--container,
.customized__select--container .option__button,
.open {
  display: block;
}

.closed {
  display: none;
}

.customized__select--container .option__button {
  padding-top: 16.35px;
  padding-bottom: 16.35px;
}
.customized__select--container .option__button,
.trigger__open--text {
  border: none;
  cursor: pointer;
}

.trigger__open--text {
  background-color: unset;
}

.custom__select,
.customized__select--container {
  max-width: 419px;
}

.open__trigger .trigger__open--text,
.option__selected {
  color: #c4c4c4;
}

.custom__select .custom__select--trigger {
  padding-top: 16.35px;
  padding-bottom: 16.35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option__button {
  font-weight: 400;
}

.custom__select .option__button:hover {
  background-color: #e9e9e9;
  font-weight: 500;
}

.customized__select--option:last-of-type .option__button {
  margin-bottom: 13px;
}

.option__selected {
  border: solid 2px #c4c4c4;
}

svg {
  max-width: 9.5px;
  max-height: 5.5px;
}

.trigger__open--text {
  padding-left: 0;
  padding-right: 0;
}

.trigger__open--text + svg {
  transform: rotate(180deg);
}
