.save__button,
.save__button:disabled,
.joke__number--input,
.counter__button,
.counters__container {
  opacity: 1;
  color: #34394f;
  background-color: #f5f6f8;
  border-radius: 6px;
  text-align: center;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.counter__button {
  border-radius: 50%;
  border: solid 2px #34394f;
  font-size: 16px;
  font-weight: 500;
  width: 24px;
  height: 24px;
}
.counter__button,
.joke__number--input {
  width: calc(146px / 3);
  outline: none;
}

.printer__wrapper,
.counters__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.printer__wrapper {
  flex-wrap: wrap;
}

.save__button,
.joke__number--input,
.counter__button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.save__button,
.printer__wrapper {
  width: 100%;
}

.save__button {
  flex-basis: 66.75;
}

.counters__container {
  flex-basis: 33.25%;
  margin-right: 8px;
}

.error {
  background-color: #f39a9a;
}

.active {
  border: none;
  background-color: darkgray;
}

.save__button {
  font-weight: 500;
  background-color: #34394f;
  color: #ffffff;
}

.joke__number--input {
  font-weight: 400;
}

@media (min-width: 357px) {
  .printer__wrapper {
    flex-wrap: nowrap;
  }
}
