.save__button,
.save__button:disabled,
.joke__number--input,
.counter__button,
.counters__container {
  opacity: 1;
  color: #34394f;
  background-color: #f5f6f8;
  border-radius: 6px;
  text-align: center;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.counters__container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.counter__button {
  text-indent: -9999px;
  display: block;
  padding: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  max-width: 24px;
  max-height: 24px;
  place-content: center;
}

#increment {
  background-image: url('../assets/plus.svg');
}

#decrement {
  background-image: url('../assets/minus.svg');
}

#increment,
#decrement {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
}

#increment:focus {
  background-image: url('../assets/thick-plus.svg');
}

#decrement:focus {
  background-image: url('../assets/thick-minus.svg');
  background-size: 29px;
  background-position: center;
}

.counter__button,
.joke__number--input {
  width: calc(146px / 3);
  outline: none;
}

.printer__wrapper,
.counter__button,
.counters__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.printer__wrapper {
  flex-wrap: wrap;
}

.save__button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.save__button,
.printer__wrapper {
  width: 100%;
  position: relative;
}

.save__button {
  flex-basis: 66.75;
}

.counters__container {
  flex-basis: 33.25%;
  margin-right: 8px;
}

.error {
  background-color: #f39a9a;
}

.active {
  border: none;
  background-color: #bdbdbd;
  font-weight: 800;
}

.save__button {
  font-weight: 500;
  background-color: #34394f;
  color: #ffffff;
}

.joke__number--input {
  font-weight: 400;
}

.error__message {
  color: #f39a9a;
  font-weight: 600;
  position: absolute;
  margin-top: 12px;
  top: 100px;
}

@media (min-width: 357px) {
  .printer__wrapper {
    flex-wrap: nowrap;
  }

  .error__message {
    top: 50px;
  }
}
