.App {
  background-color: #f9f9f9;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

q {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34394f;
  margin-top: 24px;
  margin-bottom: 32px;
}

input,
select {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  color: #34394f;
}

img {
  width: 100%;
  max-width: 439px;
}

.error {
  background-color: #f39a9a;
}

.card,
.wrapper {
  margin: auto;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  max-width: 555px;
  border-radius: calc(20px / 2);
  padding-top: calc(48px / 2);
  padding-left: calc(58px / 2);
  padding-right: calc(58px / 2);
  padding-bottom: calc(72px / 2);
}

.wrapper {
  max-width: 439px;
}

.impersonating__text {
  font-size: 12px;
  line-height: 2.17;
  letter-spacing: -0.52px;
  text-align: left;
  color: #c4c4c4;
}

.input__wrapper,
.joke__category {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  border: solid 2px #34394f;
  background-color: #ffffff;
  height: 58px;
}

.form__wrapper {
  display: grid;
  grid-gap: 16px;
}

.renaming__input {
  border: none;
}

.draw__joke--button {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  background-color: #34394f;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 375px) {
  .card {
    border-radius: 20px;
    padding-top: 48px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 72px;
  }
}
